<app-header></app-header>
<div class="form-container">
  <form (submit)="onFilesIdentityCardUpload()">
    <input type="file" (change)="onIdentityCardSelected($event)" accept=".pdf">
    <button type="submit">send</button>
  </form>
  <form (submit)="onFilesMotivationLetterUpload()">
    <input type="file" (change)="onMotivationLetterSelected($event)" accept=".pdf">
    <button type="submit">send</button>
  </form>
  <form (submit)="onFilesTitleOfStayUpload()">
    <input type="file" (change)="onTitleOfStaySelected($event)" accept=".pdf">
    <button type="submit">send</button>
  </form>
  <form (submit)="onFilesWorkPermitUpload()">
    <input type="file" (change)="onWorkPermitSelected($event)" accept=".pdf">
    <button type="submit">send</button>
  </form>
</div>
<footer class="footer">
  <p>Yvan Tchiengue. Copyright &copy; 2023</p>
</footer>

