<mat-toolbar *ngIf="userType === 'jobseeker'">
  <button mat-icon-button class="example-icon" routerLink="/dashboard">
    JobSearch
  </button>

  <!-- Bouton Dashboard -->
  <button mat-button aria-label="Dashboard button" routerLink="/dashboard">
    Dashboard
  </button>

  <!-- Bouton Jobs -->
  <button mat-button aria-label="Jobs button" routerLink="/jobs-offer">
    Jobs-Offer
  </button>

  <!-- Bouton Confirmation -->
  <button mat-button aria-label="Confirmation button" routerLink="/jobs-confirmation">
    Confirmation
  </button>

  <!-- Bouton Profile -->
  <button mat-button aria-label="Profile button" routerLink="/profile">
    Profile
  </button>

  <button mat-button aria-label="Confirmation button" (click)="logout()">
    LogOut
  </button>
</mat-toolbar>

<mat-toolbar *ngIf="userType === 'employe'">
  <button mat-icon-button class="example-icon" routerLink="/dashboard">
    JobSearch
  </button>

  <!-- Bouton Dashboard -->
  <button mat-button aria-label="Dashboard button" routerLink="/dashboard">
    Dashboard
  </button>

  <button mat-button aria-label="Dashboard button" routerLink="/booking-request">
    Booking-Request
  </button>

  <!-- Bouton Jobs -->
  <button mat-button aria-label="Jobs button" routerLink="/employe-jobs-offer">
    My-Jobs-Offer
  </button>

  <!-- Bouton Confirmation -->
  <button mat-button aria-label="Confirmation button" routerLink="/applications">
    Applications
  </button>

  <button mat-button aria-label="Confirmation button" (click)="logout()">
    LogOut
  </button>
</mat-toolbar>

