.footerrrr {
  background: #001F3F;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.footer {
  background: #001F3F;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  flex-shrink: 0; /* Cette ligne empêche le footer de rétrécir si le contenu est grand */
}

