
:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

a {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

a:hover {
  background-color: #0056b3;
}

a:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.4);
}
