<h2>Account Creation</h2>
<form (ngSubmit)="submit()" #loginForm="ngForm">
  <span>Name</span>
  <input [(ngModel)]="jobSeeker.namee" name="namee" placeholder="Name" required #nameField="ngModel">
  <span class="error" style="color: red" *ngIf="nameField.errors?.['required'] && nameField.touched">Name is required</span>
  <span>E-mail</span>
  <input [(ngModel)]="jobSeeker.email" name="email" placeholder="Email" required #emailField="ngModel">
  <span class="error" style="color: red" *ngIf="emailField.errors?.['required'] && emailField.touched">Email is required</span>
  <span>Password</span>
  <input [(ngModel)]="jobSeeker.password" name="password" placeholder="password" required minlength="8" #passwordField="ngModel">
  <span class="error" style="color: red" *ngIf="passwordField.errors?.['required'] && passwordField.touched">password is required</span>
  <span class="error" style="color: red" *ngIf="passwordField.errors?.['minlength'] && passwordField.touched">Password must be at least 8 characters</span>
  <span>Type of Account</span>
  <select [(ngModel)]="jobSeeker.type_of_account" name="type_of_account" class="sel" required #typeofaccountField="ngModel">
    <option value="jobseeker">JobSeeker</option>
    <option value="employe">Employe</option>
  </select>
  <span class="error" style="color: red" *ngIf="typeofaccountField.errors?.['required'] && typeofaccountField.touched">Type of account is required</span>
  <button type="submit" [disabled]="!loginForm.valid">Create an Account</button>
</form>
