.search{
  margin-left: 20px;
  margin-top: 20px;
}
:host{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

mat-form-field {
  width: 200px;
  margin-right: 10px;
}

.no-job{
  margin-left: 20px;
}

button{
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: lowercase;
}

button:hover {
  background-color: #ff1493;
  color: white;
}

mat-card {
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #001F3F;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  left: 20px;
  max-width: 1235px;
}

mat-card-title {
  color: #ff1493;
  font-weight: bold;
  text-transform: uppercase;
}

mat-card-subtitle{
  color: white;
}

mat-card-content{
  color: white;
}

mat-card-actions button {
  margin-right: 10px;
}

.content{
  padding: 80px;
  background: white;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}
.footer {
  background: #001F3F;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  flex-shrink: 0; /* Cette ligne empêche le footer de rétrécir si le contenu est grand */
}
