<app-header></app-header>
<div class="jobs-offer">
  <div class="search">
    <mat-form-field>
      <input matInput placeholder="place">
    </mat-form-field>
    <button mat-raised-button (click)="findJobs()">search</button>
  </div>
  <ng-container *ngIf="jobs.length > 0">
    <div *ngFor="let job of jobs">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ job.title }}</mat-card-title>
          <mat-card-subtitle>{{ job.location }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="job.description">
          <p>{{ job.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button="" [disabled]="job.isApplied" (click)="sendCandidature(job)">apply now</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
  <div class="no-job" *ngIf="jobs.length === 0">
    <p>No jobs found.</p>
  </div>
</div>
<footer class="footer">
  <p>Yvan Richnel Tchiengue. Copyright &copy; 2023</p>
</footer>
