<mat-sidenav-container *ngIf="userType === 'employe'" fullscreen>
  <mat-sidenav #sidenav  mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true" (mouseenter)="increase()"
               (mouseleave)="decrease()">
    <div class="logomain">Logo Part</div>
    <mat-nav-list>
      <mat-list-item routerLink="1" routerLinkActive="active" >
        <mat-icon mat-list-icon>person</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead">Dashboard</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="2" routerLinkActive="active">
        <mat-icon mat-list-icon>settings</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead">My Job Offers</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="3" routerLinkActive="active">
        <mat-icon mat-list-icon>local_phone</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead">Applications</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="3" routerLinkActive="active">
        <mat-icon mat-list-icon>local_phone</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead">Messages</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="3" routerLinkActive="active">
        <mat-icon mat-list-icon>local_phone</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead">Candidate Information</h5>
        </div>
      </mat-list-item>



    </mat-nav-list>

  </mat-sidenav>

</mat-sidenav-container>

<mat-sidenav-container *ngIf="userType === 'jobseeker'" style="position: fixed; top: 3; left: 0;" autosize>
  <mat-sidenav #sidenav  mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true" (mouseenter)="increase()"
               (mouseleave)="decrease()">
    <div class="logomain">Logo Part</div>
    <mat-nav-list>
      <mat-list-item routerLink="/booking-request" routerLinkActive="active"  (click)="selectItem('booking-request')">
        <mat-icon mat-list-icon>person</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead">Dashboard</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/jobs-offer" routerLinkActive="active" (click)="selectItem('jobs-offer')">
        <mat-icon mat-list-icon>settings</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead">Jobs Offer</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/job-confirmation" routerLinkActive="active" (click)="selectItem('job-confirmation')">
        <mat-icon mat-list-icon>local_phone</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead">Job Confirmation</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/messages" routerLinkActive="active" (click)="selectItem('messages')">
        <mat-icon mat-list-icon>local_phone</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead">Messages</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="profile" routerLinkActive="active" (click)="selectItem('profile')">
        <mat-icon mat-list-icon>local_phone</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead">Profile</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/photos" routerLinkActive="active" (click)="selectItem('photos')">
        <mat-icon mat-list-icon>local_phone</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead">Photos</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/status-check" routerLinkActive="active" (click)="selectItem('status-check')">
        <mat-icon mat-list-icon>local_phone</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead">Status Check</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/work-permit" routerLinkActive="active" (click)="selectItem('work-permit')">
        <mat-icon mat-list-icon>local_phone</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead">Work Permit</h5>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/personal-data-sheet" routerLinkActive="active" (click)="selectItem('personal-data-sheet')">
        <mat-icon mat-list-icon>local_phone</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead">Personal Data Sheet</h5>
        </div>
      </mat-list-item>


    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content style="margin-top: 64px;">
    <!-- Afficher le contenu à côté du sidenav -->
    <div class="content">
      <mat-card *ngIf="selectedItem === 'booking-request'">Contenu du Booking request</mat-card>
      <mat-card *ngIf="selectedItem === 'jobsOffer'">Contenu de Jobs Offer</mat-card>
      <mat-card *ngIf="selectedItem === 'jobConfirmation'">Contenu de Job Confirmation</mat-card>
      <!-- Ajouter d'autres éléments de contenu ici pour chaque option -->

      <!-- Votre contenu principal ici -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

